$borderColor: #efefef;
$calendarBorder: 1px solid $borderColor;

.calendarContainer {
  border: $calendarBorder;

  .calendarHeader {
    padding: 10px 25px;
    background-color: rgb(245, 245, 245);
    border-bottom: $calendarBorder;
    text-align: center;

    .previousMonth, .nextMonth {
      button {
        background:none !important;
        color: rgb(0, 145, 207);
        border:none;
        padding: 5px 10px !important;
        outline: none;
        font: inherit;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .currentMonth {
      display: inline-block;
      padding: 0 15px;
    }
  }

  .calendarBody {
    width: 100%;
    padding-bottom: 100%;
    box-sizing: border-box;
    position: relative;

    .calendarBodyContent {
      border-bottom: $calendarBorder;
      position: absolute;
      overflow: hidden;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .day {
      float: left;
      width: calc(100% / 7);
      padding-bottom: calc(100% / 6);
      position: relative;
      overflow: hidden;

      .dayContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      &.weekend {
        background-color: rgb(245, 245, 245);
      }

      &.inactive {
        /* background-color: rgb(186, 186, 186); */
        color: rgb(196, 196, 196);
      }

      &.active {
        /* background-color: rgb(233, 233, 233); */
      }
    }
  }

  .calendarFooter {
    text-align: center;
    margin-top: 5px;

    .minimumValue, .maximumValue {
      display: inline-block;
      position: relative;
      top: -5px;
    }

    .minimumValue {
      margin-right: 5px;
    }

    .gradient {
      display: inline-block;
      border: 2px solid rgb(230, 230, 230);
      width: 150px;
      height: 1em;
    }

    .maximumValue {
      margin-left: 5px;
    }
  }
}
