$fontFamily: Helvetica, Arial, sans-seri;
$backgroundColor: rgb(245, 245, 245);
$borderColor: darken(#efefef, 15);
$darkBorderColor: $borderColor;
$calendarBorder: 1px solid $borderColor;

.calendarContainer {
  font-family: $fontFamily;

  .calendarHeader {
    background-color: $backgroundColor;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border-top: 1px solid $borderColor;

    .previousMonth, .nextMonth {
      button {
        height: 2em;
        width: 100%;
        background-color: $backgroundColor;
        color: rgb(0, 145, 207);
        border:none;
        outline: none;
        font: inherit;
        cursor: pointer;

        &:hover {
          background-color: darken($backgroundColor, 15);
        }
      }
    }

    .previousMonth {
      border-left: 1px solid $borderColor;
    }

    .nextMonth {
      border-right: 1px solid $borderColor;
    }

    .currentMonth {
      display: inline-block;
      padding: 0 15px;
      line-height: 2em;
    }
  }

  .calendarBody {
    width: 100%;
    padding-bottom: 100%;
    box-sizing: border-box;
    position: relative;

    .calendarBodyContent {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;

      border-top: 1px solid $darkBorderColor;
      border-left: 1px solid $darkBorderColor;
      position: absolute;
      overflow: hidden;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .day {
        position: relative;
        border-right: 1px solid $darkBorderColor;
        border-bottom: 1px solid $darkBorderColor;

        .dayContent {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }

        &.weekend {
          background-color: rgb(245, 245, 245);
        }

        &.inactive {
          background: repeating-linear-gradient(
            -45deg,
            #fff,
            #fff 5px,
            #efefef 5px,
            #efefef 6px
          );
        }

        &.active {}
      }
    }
  }

  .calendarFooter {
    text-align: center;
    padding-top: 5px;

    .minimumValue, .maximumValue {
      display: inline-block;
      position: relative;
      top: -5px;
    }

    .minimumValue {
      margin-right: 5px;
    }

    .gradient {
      display: inline-block;
      border: 2px solid rgb(230, 230, 230);
      width: 150px;
      height: 1em;
    }

    .maximumValue {
      margin-left: 5px;
    }
  }
}
